<a href="https://colab.research.google.com/github/tariqzahratahdi/DataScience/blob/main/course_pandas_series_fr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series Pandas

Un `Series` Pandas est un array unidimensionnel de données indexées.

Il peut être créé à partir d'un `list` ou d'un array.

**Exemple**

In [ ]:
# importing pandas
import pandas as pd

data = pd.Series([0.25, 0.5, 0.75, 1.0])

print(data)
print(data.values)
print(data.index)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

L'objet `Series` englobe à la fois une séquence de valeurs et une séquence d'indices, accessibles grâce aux attributs values et index. Les valeurs sont simplement un array NumPy familier.

# `Series` comme tableau NumPy généralisé.

L'objet `Series` de Pandas est beaucoup plus général et flexible que l'array NumPy unidimensionnel qu'il émule.

On pourrait croire que l'objet `Series` est interchangeable avec un array NumPy unidimensionnel.

La différence essentielle réside dans la présence de l'index: alors que l'array NumPy possède un index entier implicitement défini pour accéder aux valeurs, l'objet `Series` de Pandas possède un index explicitement défini associé aux valeurs.

Cette définition d'index explicite confère à l'objet `Series` des fonctionnalités supplémentaires. Par exemple, l'index n'a pas besoin d'être un entier, mais peut être composé de valeurs de tout type souhaité.

**Exemple**: nous pouvons utiliser des chaînes comme index.

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['first', 'second', 'third', 'fourth'])

print(data)
print(data.values)
print(data.index)
print(data['second'])

first     0.25
second    0.50
third     0.75
fourth    1.00
dtype: float64
[0.25 0.5  0.75 1.  ]
Index(['first', 'second', 'third', 'fourth'], dtype='object')
0.5

# `Series` comme dictionnaire spécialisé

De cette façon, on peut considérer un `Series` Pandas comme une spécialisation d'un dictionnaire Python.

Un dictionnaire est une structure qui associe des clés arbitraires à un ensemble de valeurs arbitraires, et un `Series` est une structure qui associe des clés typées à un ensemble de valeurs typées.

Nous pouvons rendre l'analogie du `Series` comme dictionnaire encore plus claire en construisant un objet `Series` directement à partir d'un dictionnaire Python.

Contrairement à un dictionnaire, un `Series` prend également en charge les opérations de type array, comme le découpage.

**Exemple**

In [ ]:
population_dict = {
'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135
}

population = pd.Series(population_dict)

print(population)

print(population['California' : 'New York'])

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
California    38332521
Texas         26448193
New York      19651127
dtype: int64