# Applying Functions to a DataFrame

The **`apply()`** method in pandas is a versatile function used to apply a user-defined or built-in function along an axis of a DataFrame or to elements of a Series.

### Key Features:

**Function Application:**

It takes a function (`func`) as an argument and applies it to each element (when used on a Series), or to each row or column (when used on a DataFrame).

**Axis Specification:**

The `axis` parameter determines whether the function is applied column-wise (`axis=0` or `'index'`, the default) or row-wise (`axis=1` or `'columns'`).

**Flexibility:**

It can be used with various types of functions, including:
* Built-in functions: e.g., `np.mean`, `sum`.
* User-defined functions: Custom functions created to perform specific operations.
* Lambda functions: Anonymous, single-expression functions for concise operations.

**Return Type:**

The `apply()` method returns a Series or DataFrame, depending on the nature of the applied function.

In [8]:
# importing pandas
import pandas as pd

# csv file location
url = 'https://dq-content.s3.amazonaws.com/291/f500.csv'

# making data frame from csv file
data = pd.read_csv(url, index_col = 'company')

# drop NaN
data = data.dropna()

**Example:** calculate the rank change which is the difference between the values of the two columns `previous_rank` and `rank`. First we will select only rows with `previous_rank` value not zero.

In [9]:
# select only rows with previous_rank value not zero.
data_selected = data[data['previous_rank'] != 0]

# set user-defined function
def rank_change(row):
  return row['previous_rank'] - row['rank']

# apply user-defined function
data_selected.apply(rank_change, axis=1)

company
Walmart                        0
State Grid                     0
Sinopec Group                  1
China National Petroleum      -1
Toyota Motor                   3
                            ...
China General Technology    -107
National Grid                -20
New China Life Insurance     -70
Wm. Morrison Supermarkets    -61
TUI                          -32
Length: 410, dtype: int64

### Lambda Function

A lambda function is an anonymous, single-expression function for concise operations.

A lambda function is useful when we want to create a temporary function to use once.

**Example:** a lambda function that calculates the mean of three numbers:

In [6]:
# define lambda function
mean_lambda = lambda a,b,c:(a+b+c)/3

# call lambda function
mean_lambda(1,2,3)

2.0

**Example:** calculate the rank change using a lambda function:

In [23]:
data_selected.apply(lambda row: row['previous_rank'] - row['rank'], axis=1)

company
Walmart                        0
State Grid                     0
Sinopec Group                  1
China National Petroleum      -1
Toyota Motor                   3
                            ...
China General Technology    -107
National Grid                -20
New China Life Insurance     -70
Wm. Morrison Supermarkets    -61
TUI                          -32
Length: 410, dtype: int64